# Dependencies
node_modules/

# Build
build/
dist/

# Environment
.env
.env.local
.env.production

# Shopify
.shopify/

# Cache
.cache/

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal
